@charset "UTF-8";

body, html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

.btn.btn-custom{
	color: #FFFFFF !important;
	background-color: #0080ff !important;
}

.btn.btn-default.pull-left {
	height:0px;
    width:10px;
}

.portfolio-item {
	margin-bottom: 30px;
}

.pagination {
	margin-bottom: 30px;
}

.card {
	height: 100%;
}

.nav.navbar-nav.navbar-right li a {
	color: #FFFFFF;
}

.dropdown-menu.dropdown-menu-right {
	margin-top: 15px !important;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit button */
.formButton {
	cursor: pointer;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 300px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 1300%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 5%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@
-webkit-keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}


margin-top

@
keyframes fadeIn {
	from {opacity: 0;
}

to {
	opacity: 1;
}

